<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	<style>
		.my-cms-button{
			background-color: red;
			color:white;
			margin:10px;
			padding:10px;
			border-radius: 5px;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: bold;
		}
		
		.my-cms-button:hover{
			color:white;
			text-decoration: none;
			background-color: rgb(151, 27, 4);
			}
	</style>
	
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Customer Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

	</nav>

	<div class="container">
		<div class="row">
				<a th:href="@{/customerHome}" class="my-cms-button">Customer List</a>
				<a th:href="@{/productHome}" class="my-cms-button">Product List</a>
		</div>
		<img src="amazonhomepage.jpg" height="600" width="900">

	</div>
</body>
</html>
