<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome Rohit Sharma</h1>
	<p>The team brought in key players like Deepak Chahar, Will Jacks, and veteran Trent Boult. Before the auction, MI already retained a star-studded core comprising Hardik Pandya, Rohit Sharma, Jasprit Bumrah, Suryakumar Yadav, and Tilak Varma for INR 75 crores in Saudi Arabia. However, despite these purchases and preparations for the upcoming IPL, one question is still there. Who will open with Rohit Sharma in IPL 2025? As there is no Ishan Kishan, it means the vacancy is there. But since the team have a quality top-order batters, they have surely created options. See, among these names, one could open alongside Rohit Sharma in IPL 2025.</p>
	<img src="RohitSharma.jpg" height="250" width="200">
</body>
</html>